h2{
   padding-bottom: 10px; 
   margin-bottom: 0px;
   margin-top: 5px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 40px;

}

.imgcuentos{
    width: 35%;
    height: 75%;
    float: left;
    margin: auto 2% 1% auto;   
}

.navegador-glosario{
    opacity: 0.8;
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    margin: 0% auto auto auto;
    text-align: justify;
    list-style-type: circle;
    line-height: 20px;
    overflow: auto;
    height:650px;
    padding: 0px 25px 0px 25px;
}

.personal{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
    margin: 0px;
    text-transform: uppercase;
}

.contenedor{
    width:49%;
    float:left;
    padding:10px;
    text-align: justify;	
    overflow-y: scroll;
    height: 650px; 	 
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.contenedor::-webkit-scrollbar{
    width: 7px;
    background-color: #eeeeee;
}

.contenedor::-webkit-scrollbar-thumb{
    background: lightblue;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#menu{
    line-height:30px;
    background-color:#eeeeee;
    height:auto;
    width:20%;
    float:left;
    padding:5px;	      
}

#contenedor-inicio{
    width:60%;
    float:left;
    padding:20px;
    text-align: justify;	
    overflow-y: scroll;
    font-size: 22px;
    height: 640px; 	
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#retrato{
    float: left;
    margin: auto 2% 1% auto;
}